<div class="container">
  <a href="/" class="textDecorationNone">
    <div class="card bookCard" style="width: 18rem;">
      <img src="images/book.png" class="card-img-top borderImg" alt="...">
      <div class="overlay d-flex list-group list-group-flush"> 
        <p class="card-title list-group-item m-0 textLimit"><%= book.title %></p> 
        <p class="list-group-item authorCard textLimit"><%= book.author %></p> 
        <p class="list-group-item categoryCard textLimit"><%= book.edition %></p> 
      </div>   
    </div>
  </a>
</div>