<tr>
  <th>book title</th>
  <th>user name</th>
  <th>rental_date</th>
  <th>return_date</th>
  <th>
    <button class="btn btn-primary">Edit</button>
    <button class="btn btn-danger">Remove</button>
  </th>
</tr>