<aside class="sidebar" style="z-index:10">
  <header class="pb-2"><img src="images/logo.png" id="logo"></header>
    <ul>
      <li><a href="/administrative"><i class="fa-brands fa-js"></i>Dashboard</a></li>
      <li><a href="/administrative/users"><i class="fa-solid fa-users"></i>Usuários</a></li>
      <li><a href="/administrative/books"><i class="fa-solid fa-book"></i>Livros</a></li>
    </ul>
</aside>

<div class="navSidebar">
  <div class="toggle">
    <input type="checkbox" class="switch" name="theme" id="switch"">
    <label for="switch" class="label">
      <i class="fas fa-moon"></i>
      <i class="fas fa-sun"></i>
      <div class="ball"></div>
    </label>
  </div>
</div>