<a href="/" class="textDecorationNone">
  <div class="card shadowCard" style="width: 18rem;">
    <img src="images/user.png" class="card-img-top" alt="...">   
    <ul class="list-group list-group-flush">
      <h5 class="card-title list-group-item m-0 textLimit"></h5>
      <li class="list-group-item registrationCard textLimit"></li>
      <li class="list-group-item emailCard textLimit"></li>
    </ul>
  </div>
</a>