:root{
  --green: #038133;
  --blue: #00619A;
  --yellow: #E3C03E;
  --textColor: #000;
  --placeHold: #8D8D8D;
  --white: white;
}

.containeer{
  padding: 0 40px;
}

.bgLogin{
  background-image: url(/assets/images/login.png);
  height: 400px;
  width: 366px;
  background-repeat: no-repeat;
  background-position: center center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.titleLogin{
  font-family: 'PT Sans Narrow', sans-serif;
  font-size: 48px;
  font-weight: 700;
  line-height: 48px;
  color: var(--white);
}

.textCenter{
  text-align: center;
}

.col-5.align-self-center {
  display: flex;
  align-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.pb-3.col-6 > img {
  right: 62%;
  position: absolute;
  top: 36.6%;
}

.gridUser{
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 20px;
}

.textLimit{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.imgPassword{
  display: flex;
  align-items: center;
  flex-direction: row;
}