<div class="container-book"> 
  <img src="/images/bookXGH.jpg" alt="Avatar" class="image-book"> 
  <div class="overlay d-flex-book"> 
    <p><%= book.title %></p> 
    <p><%= book.author %></p> 
    <p><%= book.category %></p> 
  </div> 
</div>